/*Start global rules and framework*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
}

.toUpperCase {
  text-transform: uppercase;
}

/*End global rules and framework*/
/*Start navbar*/
nav {
  background-color: #dbdbdb;
  color: #1f1f1f;
}

nav ul li {
  margin: auto;
  cursor: pointer;
  padding-bottom: 10px;
  font-weight: 600;
}

nav ul li:hover {
  color: #bf272d;
}

nav svg {
  margin: auto;
  cursor: pointer;
}

/*end navbar*/
/*Start slider*/
@media (min-width: 991px) {
  #slider {
    margin-top: -17px;
  }
}

#slider .carousel-item {
  background-size: cover;
  height: calc(100vh - 133px);
  color: #dbdbdb;
}

@media (max-width: 992px) {
  #slider .carousel-item {
    height: calc(100vh - 100px);
  }
}

#slider .carousel-item > h2 {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

#slider .carousel-item > h2 > span {
  color: #bf272d;
}

#slider .carousel-item:first-of-type {
  background-image: url("/imgs/carousal/1.jpg");
}

#slider .carousel-item:nth-of-type(2) {
  background-image: url("/imgs/carousal/2.jpg");
}

#slider .carousel-item:nth-of-type(3) {
  background-image: url("/imgs/carousal/3.jpg");
}

#slider .carousel-indicators > li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#slider .carousel-indicators > li.active {
  background-color: #bf272d;
}

/*End slider*/
/*Start login Page*/
#loginPage {
  padding-top: 30px;
  height: calc(100vh - 133px);
}

@media (max-width: 992px) {
  #loginPage {
    height: calc(100vh - 100px);
  }
}

@media (min-width: 991px) {
  #loginPage {
    margin-top: -17px;
  }
}

#loginPage * {
  margin: 10px 0px;
}

#loginPage h3 {
  color: #bf272d;
  margin-bottom: 20px;
}

#loginPage input,
#loginPage button {
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 9px;
  -webkit-box-shadow: 2px 2px 9px;
  -moz-box-shadow: 2px 2px 9px;
  -o-box-shadow: 2px 2px 9px;
  background-color: #dbdbdb;
  padding: 10px 20px;
}

#loginPage button {
  width: 150px;
  background-color: #bf272d;
  box-shadow: 2px 2px 9px #bf272d;
  -moz-box-shadow: 2px 2px 9px #bf272d;
  -webkit-box-shadow: 2px 2px 9px #bf272d;
  -o-box-shadow: 2px 2px 9px #bf272d;
  color: #dbdbdb;
}

/*End of login Page*/
/*Start dashboard page*/
#dashboard {
  display: none;
  min-height: calc(100vh - 133px);
  margin-top: -17px;
}

#dashboard h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#dashboard #logout {
  padding: 10px;
  cursor: pointer;
  text-decoration: underline;
}

#dashboard #logout:hover {
  color: #bf272d;
}

#dashboard .card {
  height: 200px;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #dbdbdb;
  border: 2px solid;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#dashboard .card:hover {
  box-shadow: 3px 2px 3px;
  -moz-box-shadow: 3px 2px 3px;
  -webkit-box-shadow: 3px 2px 3px;
  -o-box-shadow: 3px 2px 3px;
}

#dashboard .card:first-of-type {
  color: #0275d8;
}

#dashboard .card:nth-of-type(2) {
  color: #aa66cc;
}

#dashboard .card:nth-of-type(3) {
  color: #00c851;
}

#dashboard .card:nth-of-type(4) {
  color: #ff4444;
}

#dashboard .card:nth-of-type(5) {
  color: #4285f4;
}

/*End dashboard page*/
/*Start registration page*/
#courseReg {
  display: none;
}

#courseReg h2 {
  color: #bf272d;
}

#courseReg #regselect,
#courseReg #selected {
  height: calc(100vh - 336px);
  border-radius: 20px;
  border: 1px solid;
  margin: 20px;
  overflow: auto;
  box-shadow: 2px 2px 9px;
  -webkit-box-shadow: 2px 2px 9px;
  -moz-box-shadow: 2px 2px 9px;
  -o-box-shadow: 2px 2px 9px;
}

#courseReg #regselect::-webkit-scrollbar,
#courseReg #selected::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

@media (max-width: 992px) {
  #courseReg #regselect,
  #courseReg #selected {
    height: calc(100vh - 166px);
  }
}

#courseReg #regselect ul li,
#courseReg #selected ul li {
  cursor: pointer;
  padding: 10px 0;
}

#courseReg #regselect ul li:hover,
#courseReg #selected ul li:hover {
  background-color: #bf272d;
  color: #dbdbdb;
}

#courseReg button {
  background-color: #bf272d;
  color: #dbdbdb;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 9px;
  -webkit-box-shadow: 2px 2px 9px;
  -moz-box-shadow: 2px 2px 9px;
  -o-box-shadow: 2px 2px 9px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

#courseReg button:hover {
  color: #bf272d;
  background-color: #dbdbdb;
}

/*End registration page*/
/*# sourceMappingURL=styles.css.map */